<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<app-menu></app-menu>
<router-outlet></router-outlet>
<p-toast></p-toast> -->
<!-- <h1 class="center">{{title}}</h1> -->
<!-- <nav>
  <a routerLink="/heroes">Heroes</a>
  <a routerLink="/dashboard">Dashboard</a>
</nav> 
<router-outlet></router-outlet>
<app-messages></app-messages>-->

<!-- <div class="p-grid">
  <div class="p-col-3">
    <app-autocomplete-combo></app-autocomplete-combo>
  </div>
  <div class="p-col-6">
    <nav>
      <a routerLink="/description">Descripcion</a>
      <a routerLink="/news">Noticias</a>
    </nav>
    <p-card>
      <router-outlet></router-outlet>
    </p-card>
  </div>
</div> -->


<!--<ul>
   <li *ngFor="let user of users">
    <app-user [nameUser]="user"></app-user>
  </li> 
  <app-user *ngFor="let user of users" [nameUser]="user"></app-user>
</ul>-->
<!-- <ul>
  <li *ngIf="activated">Activated</li>
</ul> -->
<!-- 
<div>
  <p>name: {{name}} </p>
  <p> Street : {{address.street}}</p>
  <p>City : {{address.city}} </p>
  <ul>
    <li *ngFor="let hobby of hobbies">
          {{hobby}}
    </li>
  </ul>
</div> -->
<!-- <form (submit)="addUser(newUserInput)">
  <input type="text" #newUserInput>
  <button>Save Data</button>
</form>
<ul>
    <li *ngFor="let user of users">
          {{user}} <button (click)="DeleteUser(user)">Delete</button>
    </li>
</ul>
<div>
  <form>
    <input type="text" name = "name" [(ngModel)]="name">
    <input type="text" name = "age" [(ngModel)]="age">
  </form>
    <p>name: {{name}} </p>
    <p>age : {{age}}</p>
</div>
<hr>

<div *ngFor = "let post of posts">
    <h3>{{post.title}}</h3>
    <p>{{post.body}}</p>
</div> -->
<ul>
  <li>
    <a routerLink = "/">Home</a>
  </li>
  <li>
      <a routerLink = "/about">About</a>
    </li>
</ul>
<router-outlet></router-outlet>