<br />
<p-card>
  <h2>{{ title }}</h2>

  <form [formGroup]="form" novalidate>
    <div class="p-grid">
      <div class="p-lg-6 p-md-12">
        <div class="p-grid">
          <div class="p-col-10">
            <div class="form-group">
              <h3>Login:</h3>
              <input type="text" pInputText formControlName="login" style="width:100%" />
              <div *ngIf="form.get('login').errors" class="invalid-feedback">
                <div *ngIf="form.get('login').hasError('required')">Login is required</div>
              </div>
            </div>
          </div>
          <div class="p-col-10">
            <div class="form-group">
              <h3>Name:</h3>
              <input type="text" pInputText formControlName="name" style="width:100%" />
              <div *ngIf="form.get('name').errors" class="invalid-feedback">
                <div *ngIf="form.get('name').hasError('required')">Name is required</div>
              </div>
            </div>
          </div>
          <div class="p-col-10">
            <div class="form-group">
              <h3>Email:</h3>
              <input type="text" pInputText formControlName="email" style="width:100%" />
              <div *ngIf="form.get('email').errors" class="invalid-feedback">
                <div *ngIf="form.get('email').hasError('required')">Email is required</div>
                <div *ngIf="form.get('email').hasError('email')">Email is not valid</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-lg-6 p-md-12">
        <h3>Roles:</h3>
        <p-pickList
          [source]="unselectedRoles"
          [target]="selectedRoles"
          sourceHeader="Available"
          targetHeader="Selected"
          [responsive]="true"
          [dragdrop]="true"
          filterBy="name"
          [showSourceControls]="false"
          [showTargetControls]="false"
          (onMoveToSource)="setFormAsTouched()"
          (onMoveToTarget)="setFormAsTouched()"
        >
          <ng-template let-rol pTemplate="item">
            <div class="ui-helper-clearfix">
              <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{ rol.name }}</div>
            </div>
          </ng-template>
        </p-pickList>
      </div>
    </div>

    <p-footer>
      <div style="text-align: right;">
        <p-button
          [disabled]="!form.valid || form.pristine"
          class="ui-button-raised ui-sbutton-primary"
          icon="pi pi-check"
          [label]="user ? 'Update' : 'Save'"
          (click)="saveUser()"
          style="margin-right: .50em"
          autofocus
        ></p-button>
        <button
          pButton
          class="ui-button-raised ui-button-secondary"
          icon="pi pi-ban"
          label="Cancel"
          [routerLink]="['/users']"
        ></button>
      </div>
    </p-footer>
  </form>
</p-card>
<p-toast></p-toast>
