<br />
<p-card>
  <h2>{{ title }}</h2>

  <form [formGroup]="form" novalidate>
    <div class="p-grid">
      <div class="p-lg-6 p-md-12">
        <div class="p-grid">
      <div class="p-col-12">
        <div class="form-group">
          <h3>Name:</h3>
          <input type="text" pInputText formControlName="name" style="width:100%" [disabled]="role"/>
          <div *ngIf="form.get('name').errors" class="invalid-feedback">
            <div *ngIf="form.get('name').hasError('required')">Name is required</div>
          </div>
        </div>
      </div>
      <div class="p-col-12">
        <div class="form-group">
          <h3>Description:</h3>
          <input type="text" pInputText formControlName="description" style="width:100%" />
        </div>
      </div>
    </div>
      </div>
      <div class="p-lg-6 p-md-12">
          Something
      </div>
    </div>

    <p-footer>
      <div style="text-align: right;">
          <p-button
            [disabled]="!form.valid || form.pristine"
            class="ui-button-raised ui-button-primary"
            icon="pi pi-check"
            [label]="role ? 'Update' : 'Save'"
            (click)="saveRole()"
            style="margin-right: .50em"
            autofocus
          ></p-button>
          <button
            pButton
            class="ui-button-raised ui-button-secondary"
            icon="pi pi-ban"
            label="Cancel"
            [routerLink]="['/users']"
          ></button>
      </div>
    </p-footer>
  </form>
</p-card>
<p-toast></p-toast>
